.inner {
    padding: 45px 15px;
    text-align: center;
}

ul {
    list-style: none;

    li {
        font-size: 2.0em;
        font-family: Roboto;
        font-weight: 300;
        font-style: italic;
        margin: 0.5em 0;

        &:first-letter {
            text-transform: uppercase;
        }
    }
}