$color-twitter: #1dcaff;

.inner
{
    padding: 45px 15px;

    text-align: center;
}

h2
{
    font-family: 'Source Sans Pro';
    font-size: 3.5em;
    font-weight: 300;

    padding: 40px 10px;
}

/* Rounded avatars */
.avatar
{
    position: relative;

    width: 40px;
    height: 40px;
    margin: 0 .5em 0 1.5em;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
       -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
            box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

blockquote
{
    margin-bottom: 10px;
    padding: 0 10px;

    border-left: none;
    &:nth-child(odd)
    {
        margin-bottom: 40px;
    }
    p
    {
        font-family: 'Roboto';
        font-size: 1.4em;
        font-weight: 300;
        font-style: italic;

        margin: 0;
        &:first-letter
        {
            text-transform: uppercase;
        }
    }
    footer
    {
        font-size: .7em;

        color: #ccc;
        cite
        {
            a
            {
                color: $color-twitter;
            }
        }
    }
}

#load {
    font-weight: 700;
}
